@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* Formatação de textos */

.titulo {
    font-size: 28px;
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.texto-destaque {
    font-size: 16px;
    font-weight: 350;
    margin-top: 10px;
    line-height: 130%;
    padding: 0px 15px;
    text-align: center;
}

.titulo-links {
    text-align: center;
    padding: 0px 15px;
    font-weight: bold;
    margin: 25px 0px 5px;
}


/* Formatação do Site */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.filho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 20px white;
}

.imagem-perfil {
    width: 100px;
    height: auto;
    border-radius: 30% 5%;
}

.menu-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 40px;
    margin: 10px 0px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 5px;
}

.menu-links img {
    position: absolute;
    right: 11px;
    width: 25px;
}

#instagram {
    background-color: #F61986;
}

#whatsapp {
    background-color: #44AD3A;
}

#linkedin {
    background-color: #097FB9;
}

#github {
    background-color: #000000;
}
